Package: ttymidi
Version: 1.0
Section: sound
Priority: optional
Architecture: arm64
Depends: libasound2 (>= 1.0.16), libasound2-dev (>= 1.0.16)
Maintainer: Marcos Antonio <marcosabcarvalho@gmail.com>
Description: ttyMIDI allows external serial devices to interface with the ALSA sequencer.
